BASE_URL=http://localhost:4200
API_BASE_URL=http://localhost:3000/v1
SAUCE_DEMO_URL=https://www.saucedemo.com/
SAUCE_DEMO_USERNAME=standard_user
SAUCE_DEMO_PASSWORD=secret_sauce
HEROKUAPP_URL=https://the-internet.herokuapp.com/
ONS_EMAIL = datirsachin61@gmail.com
ONS_PASSWORD = Sachin@123!